/* Inicio do menu2*/
.menu2 {
    position: fixed;
    top: 12vh;
    z-index: 700;
    width: 100%;
    height: 9vh;
    background-color: #0595a6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-menu2-numero1 {
    z-index: 700;
    cursor: pointer;
    margin-left: 100px;
    overflow: hidden;
}

.btn-menu2-numero1 div{
    border-radius: 4px;
    background: var(--Branco);
    margin: 8px;
    transition: 0.6s;
    height: 4px;
}

.linha1 {
    width: 25px;
}
.linha2 {
    width: 40px;
}
.linha3 {
    width: 15px;
}

.btn-menu2-numero1.ativo .linha1 {
    width: 40px;
    transform: translate( 6px, 12px) rotate(45deg);
    transition-delay: 0.125s;
}

.btn-menu2-numero1.ativo .linha2 {
    transform: translateX(60px);
}

.btn-menu2-numero1.ativo .linha3 {
    width: 40px;
    transform: translate( 5px, -12px) rotate(315deg);
    transition-delay: 0.25s;
}

.menu2-numero1 {
    position: absolute;
    top: 9vh; /*para cobrir o btn-menu2o colocar 0*/
    left: 3vw;
    height: 52vh;
    width: 10vw;
    background-color: #061d4e;
    border-bottom-left-radius: 10px;
    display: none;
    flex-direction: column;
    color: #000;
    justify-content: space-evenly;
    align-items: center;
}

.menu2-numero1 li a {
    color: var(--Branco);
}

.menu2-numero1.ativo {
    display: flex;
}

.acessibilidade  {
    position: absolute;
    top: 9vh; /*para cobrir o btn-menu2o colocar 0*/
    left: 72vw;
    height: 30vh;
    width: 25vw;
    background-color: #121212 ;
    color: var(--Branco);
    display: none;
    border: 2px solid #000000;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.acessibilidade.ativo {
    display: flex;
}

.btn-acessibilidade {
    margin-right: 100px;
    cursor: pointer;
}

.btn-acessibilidade span {
    font-size: 1.2rem;
    font-weight: 700;
}

.fa-gear {
    margin-left: 50px;
    font-size: 1.5rem;
}

button.btn-font {
    width: 80px;
    color: #b3b4bf;
    border: none;
    border-radius: 4px;
    background-color: rgba(115,103,240,.1);
    padding: 0.3rem 0.2rem;
    font-size: .85rem;
    margin: 20px 5px 20px 5px;
    align-items: flex-start;
}

button.btn-font:hover {
    background-color: #8176f2;
    color: #fff;
}

.range-font {
    width: 280px;
    display: flex;
}

input.range1 {
    width: 260px;
}

.a-menor {
    width: 30px;
    color: #b3b4bf;
    font-size: 20px;
}
.a-maior {
    width: 40px;
    color: #b3b4bf;
    font-size: 20px;
}

 .menu2-cachorro {
    position: absolute;
    top: 9vh;
    left: 13vw;
    height: 52vh;
    width: 25vw;
    background-color: #061d4e;
    color: var(--Branco);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.menu2-cachorro.ativo {
    display: flex;
}

.cachorro {
    padding-left: 6px;
    width: 100%;
}

.cachorro .fa-angle-right {
    padding-left: 10px;
}

.menu2-gato {
    position: absolute;
    top: 9vh; /*para cobrir o btn-menu2o colocar 0*/
    left: 13vw;
    height: 52vh;
    width: 25vw;
    background-color: #061d4e;
    color: var(--Branco);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.menu2-gato.ativo {
    display: flex;
}

.gato {
    padding-left: 6px;
    width: 100%;
}

.gato .fa-angle-right {
    padding-left: 10px;
}

.menu2-coelho {
    position: absolute;
    top: 9vh; /*para cobrir o btn-menu2o colocar 0*/
    left: 13vw;
    height: 52vh;
    width: 25vw;
    background-color: #061d4e;
    color: var(--Branco);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.menu2-coelho.ativo {
    display: flex;
}

.coelho {
    padding-left: 6px;
    width: 100%;
}

.coelho .fa-angle-right {
    padding-left: 10px;
}

.menu2-brinquedo {
    position: absolute;
    top: 9vh; /*para cobrir o btn-menu2o colocar 0*/
    left: 13vw;
    height: 52vh;
    width: 25vw;
    background-color: #061d4e;
    color: var(--Branco);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.menu2-brinquedo.ativo {
    display: flex;
}

.brinquedo {
    padding-left: 6px;
    width: 100%;
}

.brinquedo .fa-angle-right {
    padding-left: 10px;
}

/* Final do Menu2 */
