
.logo-container-main {
    display: flex;
    align-items: center;
    height: 20rem;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.logo-container {
    display: block;
    width: 200%;
    margin: 70px 0;
    position: absolute;
    animation: movimentacao 55s linear infinite;
}

.logo-container:hover {
    animation-play-state: paused;
}

.logo-container span {
    float: left;
    width: 50%;
}
